#exportPattern("^[[:alpha:]]+")
#export(spots_version)
export(spot_fingerprints)
import(fuzzymineR)
import(DiagrammeRsvg)
import(DiagrammeR)
#import(bupaR)
import(dplyr)
#import(readr)
#import(stringr)
#import(xesreadR)
import(rsvg)
